USE [master]
GO
/****** Object:  Database [ManagerCNC]    Script Date: 3/3/2021 8:39:39 AM ******/
CREATE DATABASE [ManagerCNC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManagerCNC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ManagerCNC.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ManagerCNC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ManagerCNC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManagerCNC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManagerCNC]
GO
/****** Object:  Table [dbo].[BaoTriCuaMayCNC]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoTriCuaMayCNC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[FromTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[TimeStart] [time](7) NULL,
	[TimeEnd] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCNC] [int] NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[Ngay] [nvarchar](max) NOT NULL,
	[ThoiDiem] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HienTrangCuaMayCNC]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HienTrangCuaMayCNC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HienTrangMayCNC]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HienTrangMayCNC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MachinesCNC]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachinesCNC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](100) NULL,
	[IdBaoTriCuaMay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/3/2021 8:39:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[IdCaLamViec] [int] NOT NULL,
	[IdChucVu] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaoTriCuaMayCNC] ON 

INSERT [dbo].[BaoTriCuaMayCNC] ([Id], [DisplayName], [FromTime], [EndTime]) VALUES (1, N'1', CAST(N'2020-10-10 10:10:10.000' AS DateTime), CAST(N'2021-03-03 10:10:10.000' AS DateTime))
INSERT [dbo].[BaoTriCuaMayCNC] ([Id], [DisplayName], [FromTime], [EndTime]) VALUES (2, N'1', CAST(N'2020-10-10 10:10:10.000' AS DateTime), CAST(N'2020-10-10 10:10:10.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BaoTriCuaMayCNC] OFF
SET IDENTITY_INSERT [dbo].[CaLamViec] ON 

INSERT [dbo].[CaLamViec] ([Id], [DisplayName], [TimeStart], [TimeEnd]) VALUES (1, N'admin', CAST(N'10:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[CaLamViec] ([Id], [DisplayName], [TimeStart], [TimeEnd]) VALUES (2, N'nhanvien', CAST(N'10:00:00' AS Time), NULL)
SET IDENTITY_INSERT [dbo].[CaLamViec] OFF
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([Id], [DisplayName]) VALUES (1, N'admin')
INSERT [dbo].[ChucVu] ([Id], [DisplayName]) VALUES (2, N'nhanvien')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC] ON 

INSERT [dbo].[EventManagerCNC] ([Id], [IdCNC], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [Ngay], [ThoiDiem]) VALUES (1, 1, 1, 1, N'2020-10-10 10:10:10.000', N'2020-10-10 10:10:10.000')
INSERT [dbo].[EventManagerCNC] ([Id], [IdCNC], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [Ngay], [ThoiDiem]) VALUES (2, 1, 2, 1, N'2020-10-10 10:10:10.000', N'2020-10-10 10:10:10.000')
SET IDENTITY_INSERT [dbo].[EventManagerCNC] OFF
SET IDENTITY_INSERT [dbo].[HienTrangCuaMayCNC] ON 

INSERT [dbo].[HienTrangCuaMayCNC] ([Id], [DisplayName]) VALUES (1, N'1')
INSERT [dbo].[HienTrangCuaMayCNC] ([Id], [DisplayName]) VALUES (2, N'2')
SET IDENTITY_INSERT [dbo].[HienTrangCuaMayCNC] OFF
SET IDENTITY_INSERT [dbo].[HienTrangMayCNC] ON 

INSERT [dbo].[HienTrangMayCNC] ([Id], [DisplayName]) VALUES (1, N'1')
INSERT [dbo].[HienTrangMayCNC] ([Id], [DisplayName]) VALUES (2, N'2')
SET IDENTITY_INSERT [dbo].[HienTrangMayCNC] OFF
SET IDENTITY_INSERT [dbo].[MachinesCNC] ON 

INSERT [dbo].[MachinesCNC] ([Id], [Model], [IdBaoTriCuaMay]) VALUES (1, N'1', 1)
INSERT [dbo].[MachinesCNC] ([Id], [Model], [IdBaoTriCuaMay]) VALUES (2, N'1', 1)
SET IDENTITY_INSERT [dbo].[MachinesCNC] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([Id], [FullName], [IdCaLamViec], [IdChucVu], [Password]) VALUES (6, N'admin', 1, 1, N'db69fc039dcbd2962cb4d28f5891aae1')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
ALTER TABLE [dbo].[EventManagerCNC]  WITH CHECK ADD FOREIGN KEY([IdCNC])
REFERENCES [dbo].[MachinesCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[MachinesCNC]  WITH CHECK ADD FOREIGN KEY([IdBaoTriCuaMay])
REFERENCES [dbo].[BaoTriCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([IdChucVu])
REFERENCES [dbo].[ChucVu] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([IdCaLamViec])
REFERENCES [dbo].[CaLamViec] ([Id])
GO
USE [master]
GO
